<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="MSU Dashboard">
  <meta property="og:description" content="Questions and answers for Marianopolis students.">
  <meta property="og:image" content="https://github.com/marianopolis/dashboard/blob/master/static/img/dashboard-cover.png?raw=true">
  <meta property="og:url" content="http://msu-dashboard.herokuapp.com">

  <meta name="twitter:title" content="MSU Dashboard">
  <meta name="twitter:description" content="Questions and answers for Marianopolis students.">
  <meta name="twitter:image" content="https://github.com/marianopolis/dashboard/blob/master/static/img/dashboard-cover.png?raw=true">
  <meta name="twitter:card" content="MSU Dashboard Cover">

  <meta http-equiv="Cache-control" content="no-cache">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>

  <link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/dashboard.css")}}>
	<script src={{url_for('static', filename="js/renderDashboard.js")}}></script>

</head>
<body class="bg-light">

  <!-- Navbar -->

  
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="https://www.msucongress.com">MSU Congress</a>
  </nav>
  

  <div class="title-div">
    <p class="page-title">MSU Dashboard</p>
    <center><a class="btn btn-outline-dark" href="https://docs.google.com/forms/d/1X4hzUzyMB9KBOg_tgZHANZFMIFdl_SPnlvwToi7rVrk/viewform?edit_requested=true">Ask a question</a></center>
  </div>


	<div class="container-fluid pt-4" ng-app="dashboardApp" ng-controller="dashboardController">

    <!-- Dashboard charts --->

    <!--
    <div class="flex-row mb-3">
      <div class="card">
				<div class="card-body flex-wrap d-flex justify-content-around" ng-bind-html="chart"></div>
      </div>
    </div>
    -->

		<div class="card-columns" ng-bind-html="content"></div>

  <p style="text-align: center">Created and maintained by the MSU Technology Committee.</p>
	</div>



</body>
</html>
